### Functions Basics
Topics Covered:
1. Introduction to Functions
2. Defining Functions
3. Calling Functions
4. Function Parameters
5. Default Parameters
6. Variable-Length Arguments
7. Return Statement

- Intro :A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [ ]:
# Suntax

# def func_name(parameters):
#     """Docstring"""
#     Function_Body
#     return Expression

In [1]:
# Why Function

num = 23
if num%2==0:
    print(num,"Is even number")
else:
    print(num,"Is odd number")

23 Is odd number

In [2]:
def even_odd(num):
    """This function show the given number is even or odd """
    if num % 2 == 0:
        print(num,'Is even number..')
    else:
        print(num,'Is odd number...')

In [3]:
# Call the function
even_odd(21)

21 Is odd number...

In [4]:
# Function with multiple parameter

def summ(a,b):
    return a+b

In [5]:
summ(5,4)

9

In [6]:
# Function with default parameter

def greet(person='Guest'):
    print('Hello',person,'welcome to the Bihar.')

In [9]:
greet() # It take default parameter in case of not given
greet('Alok')

Hello Guest welcome to the Bihar.
Hello Alok welcome to the Bihar.

In [10]:
# variable length argument

def print_var(*var):
    for char in var:
        print(char)

In [13]:
print_var(1,2,3,4,5,6,'Alok')

1
2
3
4
5
6
Alok

In [18]:
# Positional arguments
def print_args(*args):
    for char in args:
        print(char)

In [19]:
print_args(1,12,45,87,55,'Alok')

1
12
45
87
55
Alok

In [22]:
# Keyword arguments
def print_kwargs(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [26]:
print_kwargs(Name='Alok Kumar',Age='22',Course='DA bootcamp')

Name:Alok Kumar
Age:22
Course:DA bootcamp

In [25]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [27]:
print_details(1,2,3,4,"Alok",name="Alok",age="22",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Alok
name:Alok
age:22
country:India

In [28]:
# Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [29]:
# Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)