#### Tuples
Topics Covered:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

In [6]:
# intro of tuple
empty_tup =()   
print(type(empty_tup))

<class 'tuple'>

In [2]:
# Creating tuple
tup = (12,32,12,22,44,'Alok',5.6)

print(tup)

(12, 32, 12, 22, 44, 'Alok', 5.6)

In [8]:
num = tuple([1,2,3,4,55,4,3,3])
num

(1, 2, 3, 4, 55, 4, 3, 3)

In [3]:
# Accesing tuple elements
print(tup[2])

12

In [4]:
tup.index('Alok')

5

In [5]:
print(tup[5])

Alok

In [9]:
tup[4:6]

(44, 'Alok')

In [13]:
tup[::-3]

(5.6, 22, 12)

In [14]:
# Tuple Operations (+,* etc)

conc_tup = tup + num
print(conc_tup)

(12, 32, 12, 22, 44, 'Alok', 5.6, 1, 2, 3, 4, 55, 4, 3, 3)

In [15]:
print(num*2)

(1, 2, 3, 4, 55, 4, 3, 3, 1, 2, 3, 4, 55, 4, 3, 3)

In [19]:
# Immutable nature of tuple

lst = [1,2,3,4]
print(lst)

lst[1] = 'Alok'
print(lst)

print('Here Alok is added in list ,But in tuple it gives an error ..')

num[1] = "Alok"
print(num)

[1, 2, 3, 4]
[1, 'Alok', 3, 4]
Here Alok is added in list ,But in tuple it gives an error ..

TypeError: 'tuple' object does not support item assignment

In [21]:
# Tuple Methods

print(num.count(3))
print(tup.index('Alok'))

3
5

In [22]:
# Tuple packing and unpacking
# Packing

pack_tup = "Alok",22,5.8
print(pack_tup)

('Alok', 22, 5.8)

In [24]:
# Unpacking tuple

name,age,height = pack_tup

print('Name -',name,',Age -',age,',Height -',height)

Name - Alok ,Age - 22 ,Height - 5.8

In [27]:
# Unpacking with *
packed_tup = 'Alok',22,5.8,15,12,2002,'Kumar'
first_name,*other,last_name = packed_tup
print(first_name)
print(other)
print(last_name)

# Sequence wise
print('Name =',first_name,last_name)
print('Other details =',other)

Alok
[22, 5.8, 15, 12, 2002]
Kumar
Name = Alok Kumar
Other details = [22, 5.8, 15, 12, 2002]

In [30]:
# Nested tuple

nest_tup = (('Alok','kumar','Male'),(22,5.8,15,12,2002),('Python','ML','DS','DA'))
print(nest_tup)

# Accesing inside nested tuple

print(nest_tup[0][0:])
print(nest_tup[1][0:])
print(nest_tup[2][1:])

(('Alok', 'kumar', 'Male'), (22, 5.8, 15, 12, 2002), ('Python', 'ML', 'DS', 'DA'))
('Alok', 'kumar', 'Male')
(22, 5.8, 15, 12, 2002)
('ML', 'DS', 'DA')

In [31]:
# Itering over nested tuple

for tupl in nest_tup:
    for items in tupl:
        print(items,end=" ")
    print()

Alok kumar Male
22 5.8 15 12 2002
Python ML DS DA

- Summary -:

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.