* Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [16]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

* Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [18]:
# First element
print('first element :',tup[0])

# Middle element
mid_num1 = len(tup)//2-1
mid_num2 = len(tup)//2
print('middle element 1:',tup[mid_num1])
print('middle element 2:',tup[mid_num2])

# Last element
print('last element :',tup[-1])

first element : 1
middle element 1: 5
middle element 2: 6
last element : 10

* Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [21]:
# first three element
print('first 3 elements :',tup[:3])

# last three elements
last_3 = len(tup)-3
print('last 3 elements :',tup[last_3:])

# elements from index 2 to 5
print('elements from index 2 to 5 :',tup[2:5])

first 3 elements : (1, 2, 3)
last 3 elements : (8, 9, 10)
elements from index 2 to 5 : (3, 4, 5)

* Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [23]:
nested_tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print('Nested tuple :',nested_tup)

# for element at 2nd row 3rd column
print('Elements at 2nd row and 3rd column :',nested_tup[1][2])

Nested tuple : ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Elements at 2nd row and 3rd column : 6

* Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [24]:
tup1 = (1,2,3)
tup2 = (4,5,6)
add_tup = tup1 + tup2
print('Resulting tuple :',add_tup)

Resulting tuple : (1, 2, 3, 4, 5, 6)

* Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [6]:
# Codde here

* Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
# Codde here

* Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [8]:
# Codde here

* Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [9]:
# Codde here

* Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [10]:
# Codde here

* Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [11]:
# Codde here

* Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [12]:
# Codde here

* Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [13]:
# Codde here

* Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [14]:
# Codde here

* Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [15]:
# Codde here