* Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [16]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(type(tup))
print(tup)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

* Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [18]:
# First element
print('first element :',tup[0])

# Middle element
mid_num1 = len(tup)//2-1
mid_num2 = len(tup)//2
print('middle element 1:',tup[mid_num1])
print('middle element 2:',tup[mid_num2])

# Last element
print('last element :',tup[-1])

first element : 1
middle element 1: 5
middle element 2: 6
last element : 10

* Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [21]:
# first three element
print('first 3 elements :',tup[:3])

# last three elements
last_3 = len(tup)-3
print('last 3 elements :',tup[last_3:])

# elements from index 2 to 5
print('elements from index 2 to 5 :',tup[2:5])

first 3 elements : (1, 2, 3)
last 3 elements : (8, 9, 10)
elements from index 2 to 5 : (3, 4, 5)

* Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [23]:
nested_tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print('Nested tuple :',nested_tup)

# for element at 2nd row 3rd column
print('Elements at 2nd row and 3rd column :',nested_tup[1][2])

Nested tuple : ((1, 2, 3), (4, 5, 6), (7, 8, 9))
Elements at 2nd row and 3rd column : 6

* Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [24]:
tup1 = (1,2,3)
tup2 = (4,5,6)
add_tup = tup1 + tup2
print('Resulting tuple :',add_tup)

Resulting tuple : (1, 2, 3, 4, 5, 6)

* Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [39]:
# Creating a tuple with duplicate elements
fruits = ("apple", "banana", "apple", "orange", "banana", "apple")

# Counting occurrences of 'apple'
apple_count = fruits.count("apple")

# Finding the index of the first occurrence of 'banana'
banana_index = fruits.index("banana")

# Printing the results
print("Tuple:", fruits)
print("Occurrences of 'apple':", apple_count)
print("First index of 'banana':", banana_index)

Tuple: ('apple', 'banana', 'apple', 'orange', 'banana', 'apple')
Occurrences of 'apple': 3
First index of 'banana': 1

* Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [27]:
pack_tup = (10,20,30,40,50)

# Unpack tuple
a,b,c,d,e = pack_tup
print(a,b,c,d,e)

10 20 30 40 50

* Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [26]:
lst = [1,2,3,4,5]
print('before converting :',type(lst),lst)

# convert into tuple
in_tup = tuple(lst)
print('After converting :',type(in_tup),in_tup)

before converting : <class 'list'> [1, 2, 3, 4, 5]
After converting : <class 'tuple'> (1, 2, 3, 4, 5)

* Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [29]:
tupl = ((1,2,3),(4,5,6),(7,8,9))
print(tupl)

# 2nd example
# Creating a tuple of tuples
student_info = (
    ("Alok", 21, "Data Analyst"),
    ("Riya", 22, "Software Engineer"),
    ("Rahul", 20, "Designer")
)

# Printing the tuple of tuples
print(student_info)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(('Alok', 21, 'Data Analyst'), ('Riya', 22, 'Software Engineer'), ('Rahul', 20, 'Designer'))

* Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [31]:
# set with 5 positive integer
tupe = (1,2,3,4,5)
print('Before appending :',tupe)

# Convert set in to list
in_list = list(tupe)

# Append value 6 in list
in_list.append(6)

# Convert in to set
in_tupe = tuple(in_list)

print('Tuple with appending value 6 :',in_tupe)

Before appending : (1, 2, 3, 4, 5)
Tuple with appending value 6 : (1, 2, 3, 4, 5, 6)

* Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [34]:
tup1 = ('Alok')
tup2 = ('Kumar')
tup3 = ('Pandey')

strr = tup1+' '+tup2+' '+tup3
print(strr)

Alok Kumar Pandey

* Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [35]:
# Creating a dictionary with tuple keys and integer values
dict = {
    (0, 0): 10,
    (1, 2): 20,
    (2, 4): 30,
    (3, 6): 40
}

# Printing the dictionary
print(dict)

{(0, 0): 10, (1, 2): 20, (2, 4): 30, (3, 6): 40}

* Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [36]:
for elements in nested_tup:
    print(elements)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

* Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [37]:
dup_tup = (1,2,1,3,2,3,4,5,4)
print('tuple with duplicate values :',dup_tup)

# Convert to set for removing duplicate
in_set = set(dup_tup)
print('Resulting set :',in_set)

tuple with duplicate values : (1, 2, 1, 3, 2, 3, 4, 5, 4)
Resulting set : {1, 2, 3, 4, 5}

* Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:
# Return min
def get_min(t):
    return min(t)

# Return max
def get_max(t):
    return max(t)

# Return Sum 
def get_sum(t):
    return sum(t)

sample_tup = (1,2,3,4,5)
print('Sample tuple :',sample_tup)
print('Min of tuple :',get_min(sample_tup))
print('Max of tuple :',get_max(sample_tup))
print('Sum of tuple :',get_sum(sample_tup))

Sample tuple : (1, 2, 3, 4, 5)
Min of tuple : 1
Max of tuple : 5
Sum of tuple : 15