#### DataTypes
Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

In [17]:
# String

Name = 'Alok'
print(Name,type(Name))

Alok <class 'str'>

In [18]:
# Integer

Age = 22
print(Age,type(Age))

22 <class 'int'>

In [19]:
# Float
Height = 5.8
print(Height,type(Height))

5.8 <class 'float'>

In [20]:
# Boolean
Is_Indian = True
print(Is_Indian,type(Is_Indian))

True <class 'bool'>

In [21]:
a=10
b=30
type(a==b)

bool

In [22]:
# string concatenation

# data = 'Alok'+22 # Not possible ,str and int will not add 

# for this we have to convert int in str

data = 'Alok'+ str(22)

print(data)

Alok22

In [23]:
# List 
lst = [12,52,8.5,'Alok']
print(lst,type(lst))

[12, 52, 8.5, 'Alok'] <class 'list'>

In [24]:
# Dictionary 
dict = {'Name':'Alok',
        'Age':22,
        'Height':5.8}
print(dict,type(dict))

{'Name': 'Alok', 'Age': 22, 'Height': 5.8} <class 'dict'>

In [25]:
# Tuple 
tp = (12,51,12,63,63,25,64)
print(tp,type(tp))

(12, 51, 12, 63, 63, 25, 64) <class 'tuple'>

In [26]:
# Sets 
st = {12,12,52,45,52,63,63}
print(st,type(st))

{12, 45, 52, 63} <class 'set'>