### Pandas-DataFrame And Series
Pandas is a powerful data manipulation library in Python, widely used for data analysis and data cleaning. It provides two primary data structures: Series and DataFrame. A Series is a one-dimensional array-like object, while a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns).

In [1]:
import pandas as pd

- A Pandas Series is a one-dimensional array-like object that can hold any data type. It is similar to a column in a table.

In [2]:
data = [10,20,30,40]
series = pd.Series(data)
print(series)
print(type(series))

0    10
1    20
2    30
3    40
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
# Series from dictionary

data1 = {'Name':'Alok','Age':22,'Subject':'BCA'}
dict_series = pd.Series(data1)
print(dict_series)

Name       Alok
Age          22
Subject     BCA
dtype: object

In [5]:
# Series with Index
num = [10,20,30,40]
num_index = ['A','B','C','D']
series1 = pd.Series(data=num,index=num_index)
print(series1)

A    10
B    20
C    30
D    40
dtype: int64

- DataFrame

In [6]:
data = {
        
        'Name':['Alok','Rohan','Tanya','Subham','Keshav'],
        'Age':[22,25,24,20,30],
        'Address':['Mainatand','Patna','Delhi','Bettiah','Gujrat']
}

df = pd.DataFrame(data)
df

     Name  Age    Address
0    Alok   22  Mainatand
1   Rohan   25      Patna
2   Tanya   24      Delhi
3  Subham   20    Bettiah
4  Keshav   30     Gujrat

In [7]:
# Dataframe from list of dictionaries

data=[
    {'Name':'Alok','Age':22,'City':'Bettiah'},
    {'Name':'Uday','Age':24,'City':'Delhi'},
    {'Name':'Kushi','Age':22,'City':'Chandigarh'},
    {'Name':'Sandhya','Age':26,'City':'Bangalore'}
    
]
df1 = pd.DataFrame(data)
print(df1)
print(type(df1))

      Name  Age        City
0     Alok   22     Bettiah
1     Uday   24       Delhi
2    Kushi   22  Chandigarh
3  Sandhya   26   Bangalore
<class 'pandas.core.frame.DataFrame'>