- Reading data from various source

In [2]:
import pandas as pd
from io import StringIO
Data = '{"Employee_name": "Alok", "email": "alok@gmail.com", "job_profile": [{"title1":"data Analyst", "title2":"Jr. Analyst"}]}'
df=pd.read_json(StringIO(Data))

In [3]:
df

,Employee_name,email,job_profile
0,Alok,alok@gmail.com,"{'title1': 'data Analyst', 'title2': 'Jr. Anal..."

In [4]:
df.to_json()

'{"Employee_name":{"0":"Alok"},"email":{"0":"alok@gmail.com"},"job_profile":{"0":{"title1":"data Analyst","title2":"Jr. Analyst"}}}'

In [5]:
df.to_json(orient='index')

'{"0":{"Employee_name":"Alok","email":"alok@gmail.com","job_profile":{"title1":"data Analyst","title2":"Jr. Analyst"}}}'

In [6]:
df.to_json(orient='records')

'[{"Employee_name":"Alok","email":"alok@gmail.com","job_profile":{"title1":"data Analyst","title2":"Jr. Analyst"}}]'

In [7]:
df.to_json(orient='columns')

'{"Employee_name":{"0":"Alok"},"email":{"0":"alok@gmail.com"},"job_profile":{"0":{"title1":"data Analyst","title2":"Jr. Analyst"}}}'

In [13]:
#!pip install lxml
# !pip install html5lib
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Collecting beautifulsoup4 (from bs4)
  Using cached beautifulsoup4-4.14.2-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4->bs4)
  Using cached soupsieve-2.8-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\data analyst bootcamp\dab\lib\site-packages (from beautifulsoup4->bs4) (4.15.0)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Downloading beautifulsoup4-4.14.2-py3-none-any.whl (106 kB)
Downloading soupsieve-2.8-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4, bs4

   ---------------------------------------- 0/3 [soupsieve]
   ------------- -------------------------- 1/3 [beautifulsoup4]
   ------------- -------------------------- 1/3 [beautifulsoup4]
   ------------- -------------------------- 1/3 [beautifulsoup4]
   ------------- -------------------------- 1/3 [beautifulsoup4]
   ---------------------------------------- 3/3 [bs4]

Successfully installed beautifulsoup4-4.14.2 bs4-0.0.2 soupsieve-2.8

In [18]:
# Fetching data from url

url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
fb = pd.read_html(url)
fb[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
10,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
11,The First State Bank,Barboursville,West Virginia,14361,"MVB Bank, Inc.","April 3, 2020",10536
12,Ericson State Bank,Ericson,Nebraska,18265,Farmers and Merchants Bank,"February 14, 2020",10535
13,City National Bank of New Jersey,Newark,New Jersey,21111,Industrial Bank,"November 1, 2019",10534
14,Resolute Bank,Maumee,Ohio,58317,Buckeye State Bank,"October 25, 2019",10533
15,Louisa Community Bank,Louisa,Kentucky,58112,Kentucky Farmers Bank Corporation,"October 25, 2019",10532
16,The Enloe State Bank,Cooper,Texas,10716,"Legend Bank, N. A.","May 31, 2019",10531
17,Washington Federal Bank for Savings,Chicago,Illinois,30570,Royal Savings Bank,"December 15, 2017",10530
18,The Farmers and Merchants State Bank of Argonia,Argonia,Kansas,17719,Conway Bank,"October 13, 2017",10529
19,Fayette County Bank,Saint Elmo,Illinois,1802,"United Fidelity Bank, fsb","May 26, 2017",10528
20,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,Wisconsin,30003,First-Citizens Bank & Trust Company,"May 5, 2017",10527
21,First NBC Bank,New Orleans,Louisiana,58302,Whitney Bank,"April 28, 2017",10526
22,Proficio Bank,Cottonwood Heights,Utah,35495,Cache Valley Bank,"March 3, 2017",10525
23,Seaway Bank and Trust Company,Chicago,Illinois,19328,State Bank of Texas,"January 27, 2017",10524
24,Harvest Community Bank,Pennsville,New Jersey,34951,First-Citizens Bank & Trust Company,"January 13, 2017",10523

In [19]:
fb.to_xlsx('failed bank list')

AttributeError: 'list' object has no attribute 'to_xlsx'

In [20]:
type(fb)

list

In [25]:
url = 'https://en.wikipedia.org/wiki/Postal_Index_Number'
pin = pd.read_html(url,match='Region',header=0)
pin[0]

HTTPError: HTTP Error 403: Forbidden

In [27]:
!pip install requests

Collecting requests
  Using cached requests-2.32.5-py3-none-any.whl.metadata (4.9 kB)
Collecting charset_normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.4.4-cp311-cp311-win_amd64.whl.metadata (38 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.11-py3-none-any.whl.metadata (8.4 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2025.10.5-py3-none-any.whl.metadata (2.5 kB)
Downloading requests-2.32.5-py3-none-any.whl (64 kB)
Downloading charset_normalizer-3.4.4-cp311-cp311-win_amd64.whl (106 kB)
Downloading idna-3.11-py3-none-any.whl (71 kB)
Downloading urllib3-2.5.0-py3-none-any.whl (129 kB)
Downloading certifi-2025.10.5-py3-none-any.whl (163 kB)
Installing collected packages: urllib3, idna, charset_normalizer, certifi, requests

   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   ---------------------------------------- 0/5 [urllib3]
   -------- ------------------------------- 1/5 [idna]
   -------- ------------------------------- 1/5 [idna]
   ---------------- ----------------------- 2/5 [charset_normalizer]
   ---------------- ----------------------- 2/5 [charset_normalizer]
   ---------------- ----------------------- 2/5 [charset_normalizer]
   ------------------------ --------------- 3/5 [certifi]
   -------------------------------- ------- 4/5 [requests]
   -------------------------------- ------- 4/5 [requests]
   -------------------------------- ------- 4/5 [requests]
   ---------------------------------------- 5/5 [requests]

Successfully installed certifi-2025.10.5 charset_normalizer-3.4.4 idna-3.11 requests-2.32.5 urllib3-2.5.0

In [ ]:
import requests

url = 'https://en.wikipedia.org/wiki/Postal_Index_Number'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'}

response = requests.get(url, headers=headers)
pin = pd.read_html(response.text, match='PIN prefix', header=0)
pin[0]

C:\Users\Alokp\AppData\Local\Temp\ipykernel_11220\408634026.py:8: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pin = pd.read_html(response.text, match='PIN prefix', header=0)

,PIN prefix,Postal abbreviation,Region
0,11,DL,Delhi
1,12–13,HR,Haryana
2,14–15,PB,Punjab
3,16,CH,Chandigarh
4,17,HP,Himachal Pradesh
5,18–19,"JK, LA","Jammu and Kashmir, Ladakh"
6,20–28,"UP, UK","Uttar Pradesh, Uttarakhand"
7,30–34,RJ,Rajasthan
8,36–39 (except 396),GJ,Gujarat
9,396,DD,Dadra and Nagar Haveli and Daman and Diu
10,40–44 (except 403),MH,Maharashtra
11,403,GA,Goa
12,45–48,MP,Madhya Pradesh
13,49,CG,Chhattisgarh
14,50,TG,Telangana
15,51–53,AP,Andhra Pradesh
16,56–59,KA,Karnataka
17,60–66,TN,Tamil Nadu
18,605,PY,Puducherry
19,67–69 (except 682),KL,Kerala
20,682,LD,Lakshadweep
21,70–74 (except 737 & 744),WB,West Bengal
22,737,SK,Sikkim
23,744,AN,Andaman and Nicobar Islands
24,75–77,OD,Odisha
25,78,AS,Assam
26,790–792,AR,Arunachal Pradesh
27,793–794,ML,Meghalaya
28,795,MN,Manipur
29,796,MZ,Mizoram
30,797–798,NL,Nagaland
31,799,TR,Tripura
32,80–85,"BR, JH","Bihar, Jharkhand"
33,90–99,APS,Army Postal Service

In [32]:
print(len(pin))

1

In [33]:
# Save the first table (index 0)
pin[0].to_csv('postal_index_data.csv', index=False)

In [34]:
pn = pd.read_csv('postal_index_data.csv')

In [35]:
pn

,PIN prefix,Postal abbreviation,Region
0,11,DL,Delhi
1,12–13,HR,Haryana
2,14–15,PB,Punjab
3,16,CH,Chandigarh
4,17,HP,Himachal Pradesh
5,18–19,"JK, LA","Jammu and Kashmir, Ladakh"
6,20–28,"UP, UK","Uttar Pradesh, Uttarakhand"
7,30–34,RJ,Rajasthan
8,36–39 (except 396),GJ,Gujarat
9,396,DD,Dadra and Nagar Haveli and Daman and Diu
10,40–44 (except 403),MH,Maharashtra
11,403,GA,Goa
12,45–48,MP,Madhya Pradesh
13,49,CG,Chhattisgarh
14,50,TG,Telangana
15,51–53,AP,Andhra Pradesh
16,56–59,KA,Karnataka
17,60–66,TN,Tamil Nadu
18,605,PY,Puducherry
19,67–69 (except 682),KL,Kerala
20,682,LD,Lakshadweep
21,70–74 (except 737 & 744),WB,West Bengal
22,737,SK,Sikkim
23,744,AN,Andaman and Nicobar Islands
24,75–77,OD,Odisha
25,78,AS,Assam
26,790–792,AR,Arunachal Pradesh
27,793–794,ML,Meghalaya
28,795,MN,Manipur
29,796,MZ,Mizoram
30,797–798,NL,Nagaland
31,799,TR,Tripura
32,80–85,"BR, JH","Bihar, Jharkhand"
33,90–99,APS,Army Postal Service